.abstra-body
{
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: antiquewhite;
    width: 80%;
    height: 100%;
    padding: 3%;
}

.abstra-body__header 
{
    font-size: 5vw;
}

.abstra-body__manual
{
    font-size: 30pt;
}

.abstra-body__header,
.abstra-body__textbox,
.abstra-body__button,
.abstra-body__image,
.abstra-body__footer
{
    text-align: center;
}
